In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('dataset.csv')

In [3]:
df.head()

,Date,dia,hora,Suma de sms,Suma de whatsapp_activo,Suma de whatsapp_inactivo,Suma de email,Target,Suma de purchase_intention,Suma de funnel_purchase,Suma de funnel_viewItem,Suma de funnel_checkout,Suma de funnel_cart
0,1/27/2025 0:00,0-Lunes,0,109,0,0,109,0.0,NaN,NaN,NaN,NaN,NaN
1,1/27/2025 0:00,0-Lunes,1,1279,0,0,1279,0.0,NaN,NaN,NaN,NaN,NaN
2,1/27/2025 0:00,0-Lunes,2,150,0,0,150,0.0,NaN,NaN,NaN,NaN,NaN
3,1/27/2025 0:00,0-Lunes,3,148,0,0,148,0.0,NaN,NaN,NaN,NaN,NaN
4,1/27/2025 0:00,0-Lunes,4,118,0,0,118,0.0,NaN,NaN,NaN,NaN,NaN

In [4]:
df.shape

(450, 13)

In [5]:
df.describe()

,hora,Suma de sms,Suma de whatsapp_activo,Suma de whatsapp_inactivo,Suma de email,Target,Suma de purchase_intention,Suma de funnel_purchase,Suma de funnel_viewItem,Suma de funnel_checkout,Suma de funnel_cart
count,450.000000,450.000000,450.0,450.0,450.000000,450.000000,363.000000,363.000000,363.000000,363.000000,363.000000
mean,11.540000,146.373333,0.0,0.0,146.373333,392.766293,154.988981,7.964187,69.418733,3.250689,27.176309
std,6.964399,312.985122,0.0,0.0,312.985122,369.733948,111.908802,6.350389,72.551189,2.773288,17.561472
min,0.000000,0.000000,0.0,0.0,0.000000,0.000000,14.000000,0.000000,3.000000,0.000000,1.000000
25%,5.000000,7.000000,0.0,0.0,7.000000,94.245480,80.500000,3.000000,33.000000,1.000000,13.000000
50%,12.000000,37.000000,0.0,0.0,37.000000,400.543290,148.000000,7.000000,61.000000,3.000000,27.000000
75%,18.000000,139.750000,0.0,0.0,139.750000,584.321976,204.000000,11.000000,88.000000,5.000000,37.000000
max,23.000000,2341.000000,0.0,0.0,2341.000000,4404.405432,1402.000000,44.000000,1073.000000,21.000000,174.000000

In [6]:
df.isnull().sum()

Date                           0
dia                            0
hora                           0
Suma de sms                    0
Suma de whatsapp_activo        0
Suma de whatsapp_inactivo      0
Suma de email                  0
Target                         0
Suma de purchase_intention    87
Suma de funnel_purchase       87
Suma de funnel_viewItem       87
Suma de funnel_checkout       87
Suma de funnel_cart           87
dtype: int64

In [9]:
df.shape

(450, 13)

In [8]:
df[df['Suma de purchase_intention'].isna()]

,Date,dia,hora,Suma de sms,Suma de whatsapp_activo,Suma de whatsapp_inactivo,Suma de email,Target,Suma de purchase_intention,Suma de funnel_purchase,Suma de funnel_viewItem,Suma de funnel_checkout,Suma de funnel_cart
0,1/27/2025 0:00,0-Lunes,0,109,0,0,109,0.0,NaN,NaN,NaN,NaN,NaN
1,1/27/2025 0:00,0-Lunes,1,1279,0,0,1279,0.0,NaN,NaN,NaN,NaN,NaN
2,1/27/2025 0:00,0-Lunes,2,150,0,0,150,0.0,NaN,NaN,NaN,NaN,NaN
3,1/27/2025 0:00,0-Lunes,3,148,0,0,148,0.0,NaN,NaN,NaN,NaN,NaN
4,1/27/2025 0:00,0-Lunes,4,118,0,0,118,0.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
97,1/23/2025 0:00,3-Jueves,19,38,0,0,38,0.0,NaN,NaN,NaN,NaN,NaN
98,1/23/2025 0:00,3-Jueves,20,157,0,0,157,0.0,NaN,NaN,NaN,NaN,NaN
99,1/23/2025 0:00,3-Jueves,21,28,0,0,28,0.0,NaN,NaN,NaN,NaN,NaN
100,1/23/2025 0:00,3-Jueves,22,152,0,0,152,0.0,NaN,NaN,NaN,NaN,NaN
101,1/23/2025 0:00,3-Jueves,23,21,0,0,21,0.0,NaN,NaN,NaN,NaN,NaN

In [13]:
df[df.Date.str.endswith('0:00')]

,Date,dia,hora,Suma de sms,Suma de whatsapp_activo,Suma de whatsapp_inactivo,Suma de email,Target,Suma de purchase_intention,Suma de funnel_purchase,Suma de funnel_viewItem,Suma de funnel_checkout,Suma de funnel_cart
0,1/27/2025 0:00,0-Lunes,0,109,0,0,109,0.000000,NaN,NaN,NaN,NaN,NaN
1,1/27/2025 0:00,0-Lunes,1,1279,0,0,1279,0.000000,NaN,NaN,NaN,NaN,NaN
2,1/27/2025 0:00,0-Lunes,2,150,0,0,150,0.000000,NaN,NaN,NaN,NaN,NaN
3,1/27/2025 0:00,0-Lunes,3,148,0,0,148,0.000000,NaN,NaN,NaN,NaN,NaN
4,1/27/2025 0:00,0-Lunes,4,118,0,0,118,0.000000,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,1/8/2025 0:00,2-Miércoles,19,3,0,0,3,785.379000,250.0,15.0,106.0,9.0,53.0
446,1/8/2025 0:00,2-Miércoles,20,4,0,0,4,832.501740,265.0,17.0,116.0,3.0,45.0
447,1/8/2025 0:00,2-Miércoles,21,3,0,0,3,779.095968,248.0,20.0,111.0,3.0,41.0
448,1/8/2025 0:00,2-Miércoles,22,1,0,0,1,622.020168,198.0,12.0,88.0,4.0,38.0
449,1/8/2025 0:00,2-Miércoles,23,4,0,0,4,518.350140,165.0,12.0,77.0,4.0,26.0